.continar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.header-continar {
    width: 80%;
    height: 70%;
    background-color: black;
    border-radius: 10px;
    display: flex;
}

.text-color {
    color: white;

}

.header-text {
    width: 40%;
    padding: 30px 30px;
}

.header-btn {
    padding: 5px;
    border-radius: 5px;
    background-color: red;
}

.fa-solid {
    color: black;
}

.header-img {
    width: 50%;
    padding-top: 20px;
}

.header-img img {
    height: 100%;

}

.main-section {
    display: flex;
    justify-content: center;
}

.main-continar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.main-manu {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 150px;
    gap: 15px;
    background-color: black;
    padding: 10px 0px 10px 0px;
    justify-content: end;
    align-items: center;
    border-radius: 5px;

}

.main-manu-btn {
    width: 80%;
    padding: 10px;
    border-radius: 5px;

}

.red-color {
    background-color: red;
    color: white;
}

.main-manu-blog {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.manu_card {
    width: 200px;
    border: 1px solid rgba(206, 202, 197, 0.442);
    border-radius: 5px;
    margin-bottom: 10px;

}

.manu_card button {
    padding: 3px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.card_img {
    width: 200px;
}

.card_footer {
    display: flex;
    justify-content: center;
    align-items: center;

}